#root {
  width:100%
}

.button-container {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.cta {
  display: flex;
  rounded: 4px;
}

.cta-text {
  margin-right: 4px;
  font-size: 16px;
}
